# Python Assignment 1

Problem 1: Install Jupyter notebook and run the first program and share the screenshot of the output

In [1]:
#Sum of Two numbers
print("Enter: ")
a=int(input("Please enter value of a :"))
b=int(input("Please enter value of b :"))

c = a+b
print("Output: ")
print("Sum of two numbers is c:",c)

Enter:
Please enter value of a :24
Please enter value of b :34
Output:
Sum of two numbers is c: 58

Problem 2: Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [2]:
starting_val=2000
ending_val=3200
 
Values = []
for i in range (starting_val,ending_val+1):
     if(i%7==0 and i%5!=0):
        Values.append(str(i))
print("Output:")
print("The Numbers are:\n"+",".join(Values))

Output:
The Numbers are:
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Problem 3: Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name

In [7]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
user_name = first_name+' '+last_name
print("Output: ")
print("User's Name: ", user_name)
print("User's Name in reverse: ",user_name[::-1])

Enter your first name: Krishna
Enter your last name: RK
Output:
User's Name:  Krishna RK
User's Name in reverse:  KR anhsirK

Problem 4: Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [8]:
import math
d_sphere = 12
v_sphere = (4/3)*(math.pi)*(d_sphere/2)**3
print("Output: ")
print("The Diameter of the sphere is: ",d_sphere," cm")
print("The Volume of the sphere is: ", v_sphere," cc")

Output:
The Diameter of the sphere is:  12  cm
The Volume of the sphere is:  904.7786842338603  cc

Task 2

In [2]:
sample = input("Enter the comma separated numbers : ")
list = sample.split(",")
print(list)

Enter the comma separated numbers :  1,2,3,4,5,6,7,8,9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [7]:
num = 5
for i in range(num):
    for j in range(i):
        print('*', end = " ")
    print('')

for i in range(num,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
sample1 = input('Enter the word to reverse it: ')
                
for char in range(len(sample1) -1, -1, -1):
                print(sample1[char], end= "")
print("\n")

Enter the word to reverse it:  Hello world!

!dlrow olleH

In [15]:
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN, !  \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t   and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		   and to secure to all its citizens